body {
    background-color: lightgrey;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    color: purple;
}
.cats {
    display: block;
    margin: auto;
    justify-content: center;
    border-radius: 12px;
    
}
.container {
    display: block;
    margin: auto;
    justify-content: center;
    padding: 1px 20px 70px 20px;
    border-radius: 5px;
    background-color: pink;
}